section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 5.5rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  background: var(--gradient);
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.btn:hover {
  transform: scale(1.1);
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/home-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .image img {
  width: 40vw;
  animation: float 3s linear infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}
.home .content h3 {
  font-size: 3.5rem;
  color: #333;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--pink);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.2rem;
  color: #666;
  padding: 1rem 0;
}