.newsletter {
  text-align: center;
  padding: 5rem 1rem;
  background: url(../images/subscribe-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.newsletter h3 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

.newsletter p {
  color: #fff;
  font-size: 1rem;
  margin: 2rem auto;
  width: 44rem;
}

.newsletter form {
  display: flex;
  max-width: 40rem;
  border: 0.2rem solid #fff;
  padding: 0.5rem;
  border-radius: 5rem;
  margin: 0.5rem auto;
  /* height: 4.5rem; */
}

.newsletter form input[type="email"] {
  padding: 0 1.5rem;
  font-size: 1.5rem;
  background: none;
  width: 100%;
  color: #fff;
  text-transform: none;
  background: none;
}

.newsletter form input[type="email"]::placeholder {
  color: #eee;
  text-transform: capitalize;
}

.newsletter form input[type="submit"] {
  background: #fff;
  width: 18rem;
  font-size: 1.8rem;
  border-radius: 5rem;
  cursor: pointer;
}

.newsletter form input[type="submit"]:hover {
  color: var(--pink);
}
