.heading {
  text-align: center;
  background: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 1rem;
}
.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box {
  flex: 1 20rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.2s linear;
}

.features .box-container .box img {
  height: 10rem;
}

.features .box-container .box h3 {
  font-size: 1.2rem;
  color: #333;
  padding-top: 1rem;
}

.features .box-container .box p {
  font-size: 0.8rem;
  color: #666;
  padding: 1rem 0;
}
